<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Flask Parent Template</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <strong><nav>
          <a href="{{ url_for('home') }}">Home</a>
          </nav></strong>
        <h1 class="logo">Graduate School Recommender</h1>
      </div>
    </header>

    {% block content %}
    {% endblock %}
  </body>
</html>
